[core]
  pager        = less
  editor       = vim
  excludesfile = ~/.gitignore
  quotepath = false
[color]
  status          = auto
  diff            = auto
[alias]
  s               = status -bs
  d               = diff
  ci              = commit -v
  fixup           = commit --amend -C HEAD
  co              = checkout
  ad              = add
  l               = log --decorate
  lp              = log --decorate --stat --patch
  ls              = ls-files
  br              = branch --verbose --verbose --color
  f               = fetch
  g               = grep --line-number --show-function --color --heading --break
  sha             = log --pretty="%H"
  fu              = fetch upstream
  rum             = rebase upstream/master
  rom             = rebase origin/master
  tb              = git-tb
  bk              = git-bk
[user]
  name            = Fujimura Daisuke
  email           = me@fujimuradaisuke.com
[github]
  user            = fujimura
[push]
  default         = simple
